---
import Facebook from '../assets/svg/facebook.svg';
---

<footer class="bg-navy-blue-400">
    <div class="lg:flex lg:justify-between max-w-[1300px] mx-auto px-4 py-8 place-items-center">
        <div>
            <img src="/images/logo-guzman-blanco.png" alt="" class="w-40 mx-auto py-5" />
        </div>
        <div>
            <p class="text-center text-white text-sm py-2">Copyright © 2025. Luisa Eugenia Guzmán</p>
        </div>
        <div class="flex flex-col items-center">
            <p class="text-white text-xl font-bold">Redes Sociales</p>
            <a href="" class="pt-2">
                <Facebook class="w-12 h-12 inline-block  fill-white hover:fill-gray-200" />
            </a>
        </div>
    </div>
</footer>