---
import "../styles/global.css";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/images/icono-minuca.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Empresaria, Inversionista, Concesionaria de Telecomunicaciones, Conferencista y pionera en brindar servicios educativos biling端es y de calidad en Playa del Carmen, Quintana Roo."
    />
    <meta name="author" content="Luisa Eugenia Guzman" />
    <meta name="robots" content="index, follow" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Luisa Eugenia Guzman" />
    <meta
      property="og:description"
      content="Empresaria, Inversionista, Concesionaria de Telecomunicaciones, Conferencista y pionera en brindar servicios educativos biling端es y de calidad en Playa del Carmen, Quintana Roo."
    />
    <meta property="og:url" content="https://eugeniaguzman.munyaal.com.mx/" />
    <meta property="og:image" content="/images/banner-eugenia.webp" />
    <meta property="og:site_name" content="Luisa Eugenia Guzman" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Luisa Eugenia Guzman"
    />
    <meta
      name="twitter:description"
      content="Empresaria, Inversionista, Concesionaria de Telecomunicaciones, Conferencista y pionera en brindar servicios educativos biling端es y de calidad en Playa del Carmen, Quintana Roo."
    />
    <meta
      name="twitter:image"
      content="/images/banner-eugenia.webp"
    />
    <meta name="twitter:creator" content="@Mi単ucaGuzman" />
  </head>
  <body>
    <slot />
  </body>
</html>
